.side-bar
  .mypage-bar
    .mypage-bar_left
      - if user_signed_in? && current_user.user_image.present?
        = image_tag current_user.user_image.url, alt: "ユーザー画像", class: "user_image" 
    .mypage-bar_right
      .mypage-bar_right_name
        - if user_signed_in?
          = current_user.nickname
      .mypage-bar_right_btn
        = link_to new_post_path, class: "new-post-btn" do
          = icon('fas', 'edit')
  .search-container
    - if user_signed_in?
      .user-edit_link
        = link_to 'ユーザー編集',edit_user_path(current_user.id)
      .group-page_link
        .group-page_link-new
          = link_to 'グループ作成', new_group_path
        .group-page_link-member
          - current_user.groups.each do |group|
            = link_to group.group_name, group_path(group.id)
    .search-menu
    .search-btn
