.side-bar
  .main-logo
    = link_to image_tag("picture/logos/gather_logo(27).png", class:"logo-img"), root_path
  .user-data
    .user_img_box
      - if user_signed_in? && current_user.user_image.present?
        = image_tag current_user.user_image.url, alt: "ユーザー画像", class: "user_img" 
      - else  
        = image_tag "picture/user-2517433_640.png", alt: "ユーザー画像", class: "user_img"
    .user-data_right
      - if user_signed_in?
        .user-data_right_name
          = link_to user_path(current_user.id) do
            = current_user.nickname
        .user-data_right_bottom
          = link_to edit_user_path(current_user.id), class: "edit-btn" do
            = icon("fas", "user-cog")
  .side-bar_main
    - if user_signed_in?
      %ul.action_links
        %li.action_links-post
          = link_to "新規投稿", :new_post, class: "new-post-btn"
        %li.action_links-group
          = link_to "グループ作成", :new_group
        %li.action_links-search
          = link_to "グループを探す", :search_groups
      - if current_user.my_groups.present?
        .group_lists
          .group_lists_header
            管理グループ一覧
          - current_user.my_groups.each do |group|
            = link_to group.group_name, group_path(group.id), class: "group_lists_list"
      - if current_user.participated_groups.present?
        .group_lists
          .group_lists_header
            所属グループ一覧
          - current_user.participated_groups.each do |group|
            = link_to group.group.group_name, group_path(group.group.id), class: "group_lists_list"

