.side-bar
  .side-bar_container
    .mypage-container
      .mypage-container_left
        - if user_signed_in?
          = image_tag current_user.user_image.url, alt: "ユーザー画像", class: "user_image" 
      .mypage-container_right
        .mypage-container_right_name
          - if user_signed_in?
            = current_user.nickname
        .mypage-container_right_btn
          = link_to new_post_path, class: "new-post-btn" do
            = icon('fas', 'edit')
    .search-container
      - if user_signed_in?
        .user-edit_link
          = link_to 'ユーザー編集',edit_user_path(current_user.id)
      .group-page_link
        = link_to 'グループ作成', new_group_path
      .search-menu
      .search-btn
