.side-bar
  .user-data
    .user_img_box
      - if user_signed_in? && current_user.user_image.present?
        = image_tag current_user.user_image.url, alt: "ユーザー画像", class: "user_img" 
      - else  
        = image_tag "picture/user-2517433_640.png", alt: "ユーザー画像", class: "user_img"
    .user-data_right
      .user-data_right_name
        - if user_signed_in?
          = current_user.nickname
          .user-data_right_btn
            = link_to edit_user_path(current_user.id), class: "edit-btn" do
              = icon("fas", "user-cog")
  .side-bar_main
    - if user_signed_in?
      .action_links
        .action_links-post
          = link_to "新規投稿", new_post_path, class: "new-post-btn"
        .action_links-group
          = link_to "グループ作成", new_group_path
      .group_lists
        - current_user.groups.each do |group|
          = link_to group.group_name, group_path(group.id), class: "group_lists_list"
      .search-area
        %p グループを検索する
        = form_with(url: groups_searches_path, local: true, method: :get, class: "search-form") do |f|
          = f.text_field :keyword, placeholder: "グループ名", class: "search-input"
          = f.submit "検索", class: "search-btn"
  

