.side-bar
  .mypage-bar
    .user_img
      - if user_signed_in? && current_user.user_image.present?
        = image_tag current_user.user_image.url, alt: "ユーザー画像", class: "user_img" 
    .mypage-bar_right
      .mypage-bar_right_name
        - if user_signed_in?
          = current_user.nickname
          .mypage-bar_right_btn
            = link_to edit_user_path(current_user.id), class: "edit-btn" do
              = icon('fas', 'user-cog')
  .side-bar_main
    - if user_signed_in?
      .action_links
        .action_links-post
          = link_to '新規投稿', new_post_path, class: "new-post-btn"
        .action_links-group
          = link_to 'グループ作成', new_group_path
      .group_lists
        - current_user.groups.each do |group|
          = link_to group.group_name, group_path(group.id), class: "group_lists_list"
