%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"


  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname, autocomplete: "nickname"

  .field
    = f.label :profile
    %br/
    = f.text_area :profile, autocomplete: "profile"

  .field
    = f.label :gender
    %br/
    = f.select :gender, options_for_select_from_enum(User, :gender)

  .field
    = f.label :age
    %br/
    = f.select :age, options_for_select_from_enum(User, :age)

  .field
    = f.label :prefecture
    %br/
    = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class: 'exhibit-form-field'}

  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
