.search
  %h1.user_search_form_header
    = @group.group_name
  %h2.search_header
    ユーザーを検索する
  .user_search_form
    %input.user_search_form-input{placeholder: "ニックネームで検索", type: "text"}
    = button_tag type: "button", class: "user_search_form-btn submit-btn btn", data: { group_id: @group.id } do
      検索
#user-search-result
#added-user_container
.top-container
  .list-container
    %p.list_type
      参加申請が来ているユーザー
    .list_area
      - @group.applying_members.each do |m|
        .list_area_sell
          .list_area_sell_left
            - if m.user.user_image.present?
              = image_tag m.user.user_image.url, alt: "ユーザー画像", class: "user_img" 
            - else  
              = image_tag "picture/user-2517433_640.png", alt: "ユーザー画像", class: "user_img"
          .list_area_sell_right
            .list_area_sell_right_name
              = m.user.nickname
            .list_area_sell_right_btn
              = link_to "参加を許可", group_member_path(@group, m.id), method: :patch, class: "link-btn btn", data: { confirm: "申請を許可しますか？" }
              = link_to "拒否", reject_group_member_path(@group, m.id), method: :patch, class: "link-btn btn", data: { confirm: "申請を拒否しますか？" }
  .list-container
    %p.list_type
      招待中のユーザー
    .list_area#invited_area
      - @group.inviting_members.each do |m|
        .list_area_sell
          .list_area_sell_left
            - if m.user.user_image.present?
              = image_tag m.user.user_image.url, alt: "ユーザー画像", class: "user_img" 
            - else  
              = image_tag "picture/user-2517433_640.png", alt: "ユーザー画像", class: "user_img"
          .list_area_sell_right
            .list_area_sell_right_name
              = m.user.nickname
            .list_area_sell_right_btn
              = link_to "招待を取り消す", group_member_path(@group, m.id), method: :delete, class: "link-btn btn", data: { confirm: "招待を取り消しますか？" }
  .list-container
    %p.list_type
      参加ユーザー
    .list_area
      - @group.participated_members.each do |m|
        .list_area_sell
          .list_area_sell_left
            - if m.user.user_image.present?
              = image_tag m.user.user_image.url, alt: "ユーザー画像", class: "user_img" 
            - else  
              = image_tag "picture/user-2517433_640.png", alt: "ユーザー画像", class: "user_img"
          .list_area_sell_right
            .list_area_sell_right_name
              = m.user.nickname
            .list_area_sell_right_btn
              = link_to "退会させる", group_member_path(@group, m.id), method: :delete, class: "link-btn btn", data: { confirm: "グループから退会させますか？" }


