.wrapper
  = render "share/side-bar"
  .main-container
    .main-wrapper
      .list-area
        - @groups.each do |group|
          .category-tag
            = group.category.value
          .list
            .list_left
              .list_left_image
                - if group.group_pictures.present?
                  = image_tag group.group_pictures.first.group_image.url, alt: "グループ画像", class: "list_left_image" 
            .list_right
              .list_right_top
                .list_right_top_name
                  = group.group_name
                .list_right_top_right
                  = group.group_address.prefecture.name
                  = group.group_address.city
              .list_right_main
                = group.content
              .list_right_bottom
                .list_right_bottom-info
                  = link_to "参加申請", "/", class: "app-btn"
                  = icon("fas", "user-friends")
                  = group.group_users.length
      = paginate @groups
                
                