.chat-container
  - unless @group.chats.present?
    .chat-container_info
      メンバーと会話してみましょう！
  - @chats.each do |chat|
    - if user_signed_in? && chat.user_id == current_user.id
      .chat.my-chat
        .chat_user
          - if chat.user.user_image.present?
            = image_tag chat.user.user_image.url, alt: "ユーザー画像", class: "user_img"
          - else
            = image_tag "picture/user-2517433_640.png", alt: "ユーザー画像", class: "user_img"
          .chat_user_name
            = chat.user.nickname
        .chat_body
          - if chat.body.present?
            = simple_format(chat.body, class: "chat_body_bubble") 
          - if chat.chat_image.present?
            .chat_body_img
              = image_tag chat.chat_image.url, alt: "コメント画像", class: "chat_body_img"
          .chat_body_bottom
            = chat.created_at.strftime("%Y/%m/%d %H:%M")
            - if user_signed_in? && chat.user_id == current_user.id
              = link_to "削除", group_chat_path(@group, chat.id), method: :delete,
                data: { confirm: "本当に削除しますか？" }
    - else
      .chat
        .chat_user
          - if chat.user.user_image.present?
            = image_tag chat.user.user_image.url, alt: "ユーザー画像", class: "user_img"
          - else
            = image_tag "picture/user-2517433_640.png", alt: "ユーザー画像", class: "user_img"
          .chat_user_name
            = chat.user.nickname
        .chat_body
          - if chat.body.present?
            = simple_format(chat.body, class: "chat_body_bubble") 
          - if chat.chat_image.present?
            .chat_body_img
              = image_tag chat.chat_image.url, alt: "コメント画像", class: "chat_body_img"
          .chat_body_bottom
            = chat.created_at.strftime("%Y/%m/%d %H:%M")
= form_with(model: [@group, @chat], class: "chat-form", id: "new_chat", local: true) do |f|
  = f.text_area :body, class: "chat-form_input"
  .chat-form_right
    = f.label :chat_image, class: "img-btn" do
      = icon("fas", "image", class: "icon")
      = f.file_field :chat_image, class: "hidden"
    = f.submit "送信", class: "submit-btn btn"