.wrapper
  = render "share/side-bar"
  .main-container
    .main-wrapper
      .top-container
        = form_with model: @group, local: true do |f|
          .form-wrapper
            .form-area
              .form-area_label
                = f.label :group_name, "グループ名"
                .form-area_label_info
                  必須
              = f.text_field :group_name, class: "form-area_input f_field"
              - if @group.errors.include?(:group_name)
                %p.error-message= @group.errors.full_messages_for(:group_name).first

            .image-area#image-box
            
              #previews
                - if @group.persisted? && @group_picture.present?
                  - @group.group_pictures.each_with_index do |image, i|
                    = image_tag image.group_image.url, data: { index: i }, width: "200", height: '200'
              = f.fields_for :group_pictures do |image|

                = image.label :group_image do
                  = icon('fa', 'image', class: 'icon')

                .js-file_group{"data-index" => "#{image.index}"}
                  = image.file_field :group_image, class: "js-file"
                  .js-remove 削除
                - if @group.persisted?
                  = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
              - if @group.persisted?
                .js-file_group{"data-index" => "#{@group.group_pictures.count}"}
                  = file_field_tag :group_image, name: "group[group_pictures_attributes][#{@group.group_pictures.count}][group_image]", class: 'js-file'
                  .js-remove 削除

            .form-area
              .form-area_label
                = f.label :content, "グループ紹介"
                .form-area_label_info
                  必須
              = f.text_area :content, class: "form-area_input f_area"
              - if @group.errors.include?(:content)
                %p.error-message= @group.errors.full_messages_for(:content).first
            .form-area
              .form-area_label
                = f.label :prefecture_id, "都道府県"
                .form-area_label_info
                  必須
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"--"}, {class: "form-area_input f_select"}
              - if @group.errors.include?(:prefecture_id)
                %p.error-message= @group.errors.full_messages_for(:prefecture_id).first
            .member-area
            .btn-area
              = f.submit "登録", class: "actions_btn"
              = link_to "もどる", :back, class: "back_btn"