.top-page-wrapper
  = render "share/header"
.post-new-wrapper
  .paper
    = form_with model: @group, local: true do |f|
      - if @group.errors.any?
        .group-form_errors
          %h2= "#{@group.errors.full_messages.count}件のエラーが発生しました。"
          %ul
            - @group.errors.full_messages.each do |message|
              %li= message
      .form-wrapper
        .form-area
          .form-area_label
            = f.label :group_name, "グループ名"
            .form-area_label_info
              必須
          = f.text_field :group_name

        .form-area
          .form-area_label
            = f.label :group_pictures, "画像"
            = f.fields_for :group_pictures do |i|
              = i.file_field :group_image

        .form-area
          .form-area_label
            = f.label :content, "グループ紹介"
            .form-area_label_info
              必須
          = f.text_area :content

        .form-area
          .form-area_label
            = f.label :prefecture_id, "都道府県"
            .form-area_label_info
              必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class: 'exhibit-form-field'}

        .form-area
          = f.submit "登録"
          = link_to "もどる", :back