.top-container
  .group_info
    %h1.group_info_name
      = @group.group_name
    %p.category-tag
      = @group.category.value
    - if @group.group_pictures.present?
      = image_tag @group.group_pictures.first.group_image.url, alt: "グループ画像", class: "group_img"
    %table
      %tr
        %th
          活動地域
        %td
          - if @group.group_address.present?
            - if @group.group_address.prefecture.present?
              = @group.group_address.prefecture.name
            - if @group.group_address.city.present?
              = @group.group_address.city
            - if @group.group_address.place.present?
              = @group.group_address.place
      %tr
        %th
          メンバー数
        %td
          -# 条件確認-----------------------------------------
          = @group.group_members.where(status: "participated").length + 1
          人
    .table_border
    .content_box
      = simple_format(@group.content)
    - if @group.admin == current_user

      %ul.group_menu
        %li.group_menu-edit
          = link_to edit_group_path(@group) do
            グループ情報編集
        %li.group_menu-member
          = link_to group_members_path(@group) do
            メンバー管理
    - elsif @group.admin != current_user && @group.member_status(current_user) == :no_membership
      = link_to "参加申請", group_members_path(@group), class: "mini_action-btn btn", method: :post, data: { confirm: "#{@group.group_name}へ参加申請を送りますか？" }
    - elsif @group.admin != current_user && @group.member_status(current_user) == :rejected
      = link_to "参加申請", group_members_path(@group), method: :patch, class: "mini_action-btn btn",  data: { confirm: "#{@group.group_name}へ参加申請を送りますか？" }
    - elsif @group.admin != current_user && @group.member_status(current_user) == :participated
      = link_to "グループから退会する", group_members_path(@group), class: "mini_link-btn btn", method: :delete, data: { confirm: "本当に退会しますか？" }
    - elsif @group.admin != current_user && @group.member_status(current_user) == :applying
      = link_to "申請を取り消す", group_members_path(@group), class: "mini_link-btn btn", method: :delete, data: { confirm: "申請を取り消しますか？" }
    - elsif @group.admin != current_user && @group.member_status(current_user) == :inviting
      = link_to "グループに参加", group_members_path(@group), method: :patch, class: "link-btn btn", data: { confirm: "グループに参加しますか？" }
      = link_to "招待を拒否", reject_group_members_path(@group), method: :patch, class: "link-btn btn", data: { confirm: "招待を拒否しますか？" }
- if @group.admin == current_user || @group.member_status(current_user) == :participated
  = render "chat", chats: @chat
