.user_info_container
  .user_info_container_header
    - if @user.user_image.present?
      = image_tag @user.user_image.url, alt: "投稿画像", class: "user_img user_img_d" 
  .user_info_container_main
    %table
      %tr
        %th
          ニックネーム
        %td
          = @user.nickname
      %tr
        %th
          性別
        %td
          - if @user.gender.present?
            = @user.gender_i18n
      %tr
        %th
          年齢
        %td
          - if @user.age.present?
            = @user.age_i18n
      %tr
        %th
          地域
        %td
          - if @user.user_address.present?
            - if @user.user_address.prefecture.present?
              = @user.user_address.prefecture.name
            - if @user.user_address.city.present?
              = @user.user_address.city
    .table_border
    .content_box
      = simple_format(@user.profile)
    - if @user == current_user
      - if current_user.applying_groups.present?
        .list-container
          .list_type
            申請中のグループ
          .list_area
            - current_user.applying_groups.each do |g|
              .group_cell
                .group_cell_left
                  = link_to group_path(g.group_id) do
                    = g.group.group_name      
      - if current_user.inviting_groups.present?
        .list-container
          .list_type
            招待が来ているグループ
          .list_area
            - current_user.inviting_groups.each do |g|
              .group_cell
                .group_cell_left
                  = link_to group_path(g.group_id) do
                    = g.group.group_name
