.wrapper
  = render "share/header"
  = render "share/side-bar"
  .main-container
    .main-wrapper
      .top-container
        = form_with model: @post, local: true do |f|
          - if @post.errors.any?
            .post-form_errors
              %h2= "#{@post.errors.full_messages.count}件のエラーが発生しました。"
              %ul
                - @post.errors.full_messages.each do |message|
                  %li= message
          .form-wrapper
            .form-area
              .form-area_label
                = f.label :title, "タイトル"
                .form-area_label_info
                  必須
              .form-area_input
                = f.text_field :title

            .form-area
              .form-area_label
                = f.label :post_image, "画像"
              = f.file_field :post_image

            .form-area
              .form-area_label
                = f.label :detail, "詳細"
                .form-area_label_info
                  必須
              = f.text_area :detail

            .form-area
              .form-area_label
                = f.label :prefecture_id, "都道府県"
                .form-area_label_info
                  必須
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class: 'exhibit-form-field'}

            .form-area
              .form-area_label
                = f.label :accept_id, "募集人数"
              .form-area_input
                = f.collection_select :accept_id, Accept.all, :id, :name, {prompt:"選択してください"}, {class: 'exhibit-form-field'}

            .form-area
              .form-area_label
                = f.label :date, "日にち"
              .form-area_input
                = f.date_field :date

            .form-area
              .form-area_label
                = f.label :start_time, "開始時間"
                = f.time_select :start_time, {include_blank: true, ignore_date: true, minute_step: 5}
                

            .form-area
              .form-area_label
                = f.label :end_time, "終了時間"
                = f.time_select :end_time, {include_blank: true, ignore_date: true, minute_step: 5}
                

            .form-area
              = f.submit "登録"
              = link_to "もどる", :back