= form_with model: @search_form, scope: "search", url: :posts, html: { method: :get, class: "search" }, local: true do |f|
  .search_input
    = f.label :category, "カテゴリー :"
    = f.text_field :category
  .search_input
    = f.label :event_date, "日にち:"
    = f.date_field :event_date
  .search_input
    = f.label :prefecture_id, "都道府県:"
    = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"--"}
    = f.label :city, "市区町村:"
    = f.text_field :city
  = f.submit "検索"