.top-page-wrapper
  = render "share/header"
  = render "share/side-bar"
  .main-post
    .main-container
      .top-content
        .p_image
          = image_tag @post.post_image.url, class: 'post_image' if @post.post_image.present?
        .p_tilte
          = @post.title
        .p_detail
          = @post.detail
        .p_prefecture
          = @post.prefecture.name
        .p_accept
          = @post.accept.name
        .p_date
          = @post.date
        .p_start_time
          = @post.start_time
        .p_end_time
          = @post.end_time
        -# .p_comments
        -#   = @post.p.comment
        - if current_user
          = form_with(model: [@post, @comment], local: true) do |f|
            = f.text_area :comment, placeholder: "コメントする"
            = f.file_field :comment_image, class: 'img-man'
            = f.submit "送信"
        - else
          %strong
            %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

        .comments
          %h4 ＜コメント一覧＞
          - if @comments
            - @comments.each do |comment|
              %p
                %strong
                  = link_to comment.user.nickname, "/users/#{comment.user_id}"
                  ：
                - if comment.comment.present?
                  %p.lower-message__content
                    = comment.comment
                = image_tag comment.comment_image.url, class: 'post_image' if comment.comment_image.present?
                -# = image_tag comment.comment_image.url, class: 'post_image' if comment.comment_image.present?
                -# = comment.comment




