.wrapper
  = render "share/header"
  = render "share/side-bar"
  .main-container
    .main-wrapper
      .top-container
        .post-board_title
          = @post.title
        .post-board
          .post-board_left
            .post-board_left_data
              場所 :
              = @post.prefecture.name
            .post-board_left_data
              日にち :
              - if @post.date.present?
                = @post.date.strftime("%Y/%m/%d")
            .post-board_left_data
              開始予定 :
              - if @post.start_time.present?
                = @post.start_time.strftime("%H:%M")
            .post-board_left_data
              終了予定 :
              - if @post.end_time.present?
                = @post.end_time.strftime("%H:%M")
            .post-board_left_data
              募集人数 :
              - if @post.accept.present?
                = @post.accept.name
            - if user_signed_in? && @post.user_id == current_user.id
              .post-board_right_edit
                = link_to "編集する", edit_post_path(@post)
          .post-board_right
            - if @post.post_image.present?
              = image_tag @post.post_image.url, alt: "投稿画像", class: "post_image" 
        .post-board_border
        .post-board_detail
          = simple_format(@post.detail)
      .comment-container  
        - if current_user
          = form_with(model: [@post, @comment], local: true) do |f|
            .comment-form
              = f.text_area :comment, placeholder: "コメントする",class: "comment-form_left"
              .comment-form_right
                = f.label :comment_image, class: "btn-mask" do
                  = icon("fas", "image", class: "icon")
                  = f.file_field :comment_image, class: "hidden"
                = f.submit "送信", class: "submit-btn"
        - else
          .comment-container_alert  
            ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
        .comment-area
          - if @comments.present?
            .comment-area_info
              コメント一覧
            - @comments.each do |comment|
              .comment-list
                .comment-list_upper
                  = link_to comment.user.nickname, user_path(comment.user_id), class: "comment-list_upper_name"
                  ：
                  = comment.created_at.strftime("%Y/%m/%d %H:%M")
                  - if user_signed_in? && comment.user_id == current_user.id
                    = link_to "削除", post_comment_path(@post, comment.id), method: :delete
                .comment-list_bottom
                  - if comment.comment.present?
                    .comment-list_bottom_content
                      = simple_format(comment.comment)
                  = image_tag comment.comment_image.url, alt: "コメント画像", class: "post_image" if comment.comment_image.present?
          - else
            .comment-area_info
              投稿の内容が気になったらコメントしてみましょう！




